body, html {
  width: 100%;
  height: 100%;
  background-color: rgb(70, 43, 224);
  color:white;
  margin: 0px;
}
.template-wrapper{
  margin: auto;
  width: 90%;
  max-width: 300px;
  border: 2px solid white;
  padding: 0px 10px;
  aspect-ratio: 1/1;
}
.flex-container{
  display: flex;
}
.template-wrapper h1{
  margin: 0px;
}
.info{
  display: block;
  margin: 0px;
}